<!-- Add Todo Form -->
<div class="flex justify-center items-center">
  <div
    class="w-[500px] mx-auto mt-10 p-10 border border-green-400 rounded-lg shadow-xl"
  >
    <h1 class="text-xl font-bold text-center mb-8">Tambah Todo</h1>
    <form #forms="ngForm" (ngSubmit)="onFormSubmit(forms)">
      <div class="control mt-3">
        <label class="block font-semibold">Judul</label>
        <input
          type="text"
          class="w-full p-2 rounded-lg mt-1 border border-gray-600"
          placeholder="Masukkan judul todo"
          ngModel
          name="judul"
          #todoJudulField="ngModel"
          required
        />
        <div *ngIf="todoJudulField.invalid && showValidationErrors">
          <p class="text-red-600 mt-1">Judul harus diisi</p>
        </div>
      </div>
      <div class="control mt-3">
        <label class="block font-semibold">Deskripsi</label>
        <input
          type="text"
          class="w-full p-2 rounded-lg mt-1 border border-gray-600"
          placeholder="Masukkan deskripsi todo"
          ngModel
          name="text"
          #todoTextField="ngModel"
          required
        />
        <div *ngIf="todoTextField.invalid && showValidationErrors">
          <p class="text-red-600 mt-1" *ngIf="todoTextField.errors">
            Deskripsi harus diisi
          </p>
        </div>
      </div>
      <div class="control mt-8">
        <button
          type="submit"
          class="w-full py-2 bg-green-400 rounded-lg text-white font-bold hover:bg-green-500"
        >
          Simpan
        </button>
      </div>
    </form>
    <a
      routerLink="/"
      class="mt-5 block text-green-600 cursor-pointer text-center"
      >Kembali</a
    >
  </div>
</div>
