<div class="border border-gray-400 rounded-md p-4 w-96">
  <p class="text-lg font-bold" [class.line-through]="todo.completed">
    {{ todo.title }}
  </p>
  <p>
    {{ todo.text }}
  </p>

  <div class="flex justify-around mt-4 gap-2">
    <button
      (click)="onDeleteClicked()"
      class="bg-red-500 hover:bg-red-600 w-full rounded-md py-2 font-semibold text-white"
    >
      Hapus
    </button>
    <button
      (click)="onCompleteClick()"
      class="bg-green-500 hover:bg-green-600 w-full rounded-md py-2 font-semibold text-white"
      [class.hidden]="todo.completed"
    >
      Selesai
    </button>
  </div>
</div>
